In [ ]:
# You can be a perfectly excellent coder in python without knowing what lambda functions are
# All that we will learn today can be coded with other python constructs which we have learnt

# a lambda function is an anonymous ephemeral function -> they don't have a name, they are defined one time, used one time, and then they "die"

# why lambda functions?

# ephemeral / readable - no need to take developer mind space by explicitly creating a "real function"
# standards - enforces tasks are modularized into little subtasks
# functional programming - will not enter too deeply into this, but it is a life changer
# Interviews - pet of interviewer questions and "clever" coders

In [ ]:
# this is a real function that I can call as many times as it want, in different files, whenever I need
def square(x):
  return x**2

In [ ]:
square(4)

16

In [ ]:
# how to do the same in a lambda function?
# lambda input(s) : output
lambda x : x**2
# currently this is useless

In [ ]:
# but it does work as a function
(lambda x : x**2)(4)

16

In [ ]:
# they can have multiple arguments 
#lambda x,y : x**y
(lambda x,y : x**y)(3,2)

9

In [ ]:
# and they can be named, if necessary
power = (lambda x,y : x**y)
power(2,3)

8

In [ ]:
# lambda expressions have to be very simple. No flow control logic, no loops, etc
# the one concession to this is a single if-then-else with the following sintax

lambda a,b : a+b if a%2 == 0 else a-b

(lambda a,b : a+b if a%2 == 0 else a-b)(3,2)

1

**What the hell are these things used for?**

Case 1: as pure functions

In [ ]:
# They allow us to do something called currying : creating a partial function from another one by fixing some arguments 

power = (lambda x,y : x**y)

power_2 = lambda z: power(2,z)
square = lambda z: power(z,2)

display(power_2(3))
display(square(3))

8

9

In [ ]:
#myapply = lambda x : apply(x,axis=0)

In [ ]:
# They also allow us to define functions that return other functions
# the server produces the following function and sends it to me

# seems pretty basic. However Lambda functions are most used when combined with other functions
def myfunc(n):
  return lambda a : a * n

#here our lambda functions is changing its use depending on argument passed
doubles = myfunc(2)
triples = myfunc(3)

print(doubles(11))
print(triples(11))

22
33

In [ ]:
def check_secret_shared(key1):
  return lambda key2 : (key1==key2)

In [ ]:
# I run this function in my machine and give it my secret, I then send it to Fred (I don't know the details of the function)
comit = check_secret_shared('mango')

In [ ]:
# JosÃ© adds his own answer and we see if we agreed without revealing information
comit('mango')

True

Case 2: as shorthand in larger functions

In [ ]:
# lambda functions are useful when combined with iterables -> list comprehension

# you can define the function symbolically and then apply it
g = lambda x : x**2

[g(x) for x in range(0,10)]

# or 

[(lambda x:x**2)(x) for x in range(0,10)]

#no need to create a "square" function if this is the only place using it

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Map, filter and apply
# Care to check yesterday's class?

In [ ]:
#map(function, iterable) applies 'function' to each element of 'iterable'

map(lambda x:x**2,[1,2,3,4,5])

# whenever you use the map method, it returns a crazy map object
# this is actually a feature. 
# Note to self: ramble about lazy computation if you have time

In [ ]:
#you can force map object to become explicit by converting them to lists
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [ ]:
# the map would only apply the function to each one and return true or false
list(map(lambda x : x%2 ==0, [1,2,3,4,5,6,7,8]))

[False, True, False, True, False, True, False, True]

In [ ]:
# filter(function, iterable). Similar to the logic of a map function but it applies a condition.
# And returns the original objects for which the function returned True
list(filter(lambda x : x%2 ==0, [1,2,3,4,5,6,7,8]))

[2, 4, 6, 8]

In [ ]:
#challenge: let's write a function and a filter that takes a word and returns only the vowels

def check_letter(letter):
  if letter in ["a","e","i","o","u"]:
    return True
  else:
    return False



list(filter(check_letter,[char for char in "hello"]  ))

list(filter(lambda x: x in ["a","e","i","o","u"] , "hello"))

['e', 'o']

In [ ]:
# explain reduce

# but many times we want to create our own type of aggregation like sum, max min etc. this can be down with reduce

from  functools import reduce

l = [1,2,3,4,5]

#reduce(aggregation to apply, list)

reduce(lambda a, b: a * b,l)

#now we know a new way to build the factorial function :)

120

In [ ]:
# but many times we want to create our own type of aggregation like sum, max min etc. this can be down with reduce

#aggregate by counting number of odds
#when combining all these functions is when the true power is shown.

from  functools import reduce

l = [1,2,3,4,5]
reduce(lambda a, b: a + b, list(filter(lambda x: x%2 != 0, l)))

9

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('sample_data/california_housing_test.csv')

In [ ]:
data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
# the most common case of lambdas in my experience, 

# for example: we want to see how much older are the houses that have more that 20 years 
data['housing_median_age'].apply(lambda x: x-20 if x>20 else np.nan)

0        7.0
1       23.0
2        7.0
3        8.0
4        NaN
        ...
2995     3.0
2996     7.0
2997     NaN
2998    20.0
2999    22.0
Name: housing_median_age, Length: 3000, dtype: float64

In [ ]:
# let's say we want to know how far each point is from a imaginary point imagine coordinates(-110, 30)
# euclidean distance

data.apply(lambda x: np.sqrt((x['latitude']-30)**2+(x['longitude']+110)**2),axis=1)

0       14.125134
1        9.329394
2        8.676664
3        9.191409
4       11.557586
          ...
2995    10.805369
2996     9.096329
2997    11.566330
2998     8.216106
2999    10.595910
Length: 3000, dtype: float64